<ion-header>
  <ion-toolbar>
    <ion-title>Pomodoro Timer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding content-center">
  <h2 class="time-text">🕒 {{ currentTime }}</h2>

  <div *ngIf="timerRunning || pausedCountdown" class="timer-box" [ngClass]="{ break: isBreak }">
    <h1>{{ formatTime(countdown) }}</h1>
    <h3>{{ isBreak ? '🛋 Break Time' : '💼 Work Time' }}</h3>
  </div>
  
  <div class="button-group">
    <ion-button expand="block" color="primary" (click)="startPomodoro()" [disabled]="timerRunning">
      {{ pausedCountdown ? 'Resume Pomodoro' : 'Start Pomodoro' }}
    </ion-button>
  
    <ion-button expand="block" color="tertiary" (click)="startManualBreak()" [disabled]="timerRunning">
      Start Break
    </ion-button>
  
    <ion-button expand="block" color="warning" (click)="stopTimer()" [disabled]="!timerRunning">
      Pause
    </ion-button>
  
    <ion-button expand="block" color="danger" (click)="resetTimer()">
      Reset
    </ion-button>
  </div>
  
</ion-content>
